/*Element Selector*/
body{
    background-color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;

}

h2,h3,h4{
    font-size: 20px;
    text-align: center;
}
/*Class Selector*/
/*center the images*/
.center-images{
    text-align: center;
}

/*Id Selectors*/
#main-heading{
    color: black;
    text-align: center;
    font-size: 34px;
}



